@charset "UTF-8";

body{
    margin: 0;
}

table{
    width:960px;
    margin: 0 auto;
    /* border-spacing: 0px; */
    border-collapse: collapse; /* 边框塌陷，比borader-spacing 还少一个像素 */
}

.header{
    height: 120px;
    background-color: olive;
}

.aside{
    width: 200px;
    height: 500px;
    background-color: purple;
}

.section{
    width: 760px;
    background-color: maroon;
}

.footer{
    height: 150px;
    background-color: gray;
}