@charset "UTF-8";

div{
   /*  -webkit-columns: 150px 4; */ /* 平均分4列,当每列小于150像素的时候自动减少一列*/
    -webkit-columns: auto 4; /* 平均分4列 */
    -webkit-column-gap: 100px; /* 列间距 */
    -webkit-column-rule: 2px solid red;  /* 列分割线，不占用布局宽度 */
}

h1{
    -webkit-column-span: all;/* 最新支持了 */
    text-align: center;
}