@charset "UTF-8";
/* TODO::header 和 aside 无法对齐左边距 */
body{
    margin: 0 auto;
    width: 960px;
    /* border: 1px solid red; */
}

header{
    height: 120px;
    background-color: olive;
}

aside{
    width: 200px;
    height: 500px;
    background-color: blue;
}